<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
>
    <testsuites>
        <testsuite name="default">
            <directory suffix=".php">./tests/Shorthands.php</directory>
        </testsuite>
        <testsuite name="xit">
            <directory suffix=".php">./tests/Xit.php</directory>
        </testsuite>
        <testsuite name="xtest">
            <directory suffix=".php">./tests/Xtest.php</directory>
        </testsuite>
        <testsuite name="fit">
            <directory suffix=".php">./tests/Fit.php</directory>
        </testsuite>
        <testsuite name="ftest">
            <directory suffix=".php">./tests/Ftest.php</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>
